* {
	box-sizing: border-box;
}

body {
	background: #2b2b2b;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #2b2b2b;
	position: relative;
}
#table{
	position: absolute;
	width: 300px;
	height: 600px;
	top: 180px;
	background: #fffce0;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 33%;
	margin-right: auto;
	transform: rotate(90deg);
}
#greenballoon{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 250px;
	background: lightgreen;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100% / 100%;
	margin-left: 40%;
	margin-right: auto;
}
#blueballoon{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 155px;
	background: #3b65bf;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100% / 100%;
	margin-left: 44%;
	margin-right: auto;
}
#blueballoonend{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 230px;
	background: #3558a5;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100% / 100%;
	margin-left: 44%;
	margin-right: auto;
}
#pineapple{
	position: absolute;
	width: 175px;
	height: 250px;
	top: 175px;
	background: #f7d85d;
	-moz-border-radius: 100% / 50%;
	-webkit-border-radius: 100% / 50%;
	border-radius: 100px / 95%;
	margin-left: 25%;
	-ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}
#pinkballoon{
	position: absolute;
	width: 235px;
	height: 235px;
	top: 180px;
	background: #f9d9e4;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100% / 100%;
	margin-left: 42%;
	margin-right: auto;
}
#pineappleleaves{
	position: absolute;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #7ca070;
	position: relative;
	top: 115px;
	left: 280px;
	-ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
#pineappleleaves:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #7ca070;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
}
#vase{
	position: absolute;
	top: 65%;
	left: 60%;
	width: 75px;
	height: 75px;
	background: olive;
	border-radius: 100% / 50%;
}
#vasetop{
	position: absolute;
	top: 62%;
	left: 63%;
	width: 25px;
	height: 25px;
	background: olive;
	border-radius: 100% / 50%;
}
#stemmiddle{
	position: absolute;
	width: 5px;
	height: 150px;
	top: 200px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 64%;
	margin-right: auto;
}
#stemmiddletop{
	position: absolute;
	width: 5px;
	height: 70px;
	top: 145px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 64.25%;
	margin-right: auto;
	transform: rotate(4deg);
}
#stemmiddleleft{
	position: absolute;
	width: 5px;
	height: 70px;
	top: 160px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 63.5%;
	margin-right: auto;
	transform: rotate(-10deg);
}
#stemmiddleright{
	position: absolute;
	width: 5px;
	height: 70px;
	top: 160px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 65.5%;
	margin-right: auto;
	transform: rotate(20deg);
}
#stemmiddlelowright{
	position: absolute;
	width: 5px;
	height: 30px;
	top: 250px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 64.75%;
	margin-right: auto;
	transform: rotate(20deg);
}
#stemleft{
	position: absolute;
	width: 5px;
	height: 170px;
	top: 190px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 58%;
	margin-right: auto;
	transform: rotate(-40deg);
}
#stemtinyleft{
	position: absolute;
	width: 2px;
	height: 160px;
	top: 190px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 57.5%;
	margin-right: auto;
	transform: rotate(-50deg);
}
#middlestemflower1{
	position: absolute;
	width: 5px;
	height: 6px;
	top: 160px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 64.75%;
	margin-right: auto;
	transform: rotate(75deg);
}
#middlestemflower2{
	position: absolute;
	width: 6px;
	height: 7px;
	top: 150px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 64.75%;
	margin-right: auto;
	transform: rotate(75deg);
}
#middlestemflower3{
	position: absolute;
	width: 7px;
	height: 9px;
	top: 139px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 64.5%;
	margin-right: auto;
	transform: rotate(50deg);
}
#middlestemflower4{
	position: absolute;
	width: 7px;
	height: 9px;
	top: 160px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 63.5%;
	margin-right: auto;
	transform: rotate(50deg);
}
#middlestemflower5{
	position: absolute;
	width: 7px;
	height: 9px;
	top: 155px;
	background: #bf6f4a;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 62.95%;
	margin-right: auto;
	transform: rotate(35deg);
}
#rightstemflower1{
	position: absolute;
	width: 7px;
	height: 9px;
	top: 155px;
	background: #bf6f4a;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 67%;
	margin-right: auto;
	transform: rotate(35deg);
}
#rightstemflower2{
	position: absolute;
	width: 7px;
	height: 9px;
	top: 170px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 67%;
	margin-right: auto;
	transform: rotate(100deg);
}
#rightstemflower3{
	position: absolute;
	width: 7px;
	height: 9px;
	top: 185px;
	background: #bf6f4a;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 66%;
	margin-right: auto;
	transform: rotate(100deg);
}
#leftstemflower1{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 230px;
	background: #bf6f4a;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 55%;
	margin-right: auto;
	transform: rotate(100deg);
}
#leftstemflower2{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 225px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 54.5%;
	margin-right: auto;
	transform: rotate(100deg);
}
#leftstemflower3{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 220px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 54.25%;
	margin-right: auto;
	transform: rotate(100deg);
}
#leftstemflower4{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 225px;
	background: #bf6f4a;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 53.25%;
	margin-right: auto;
	transform: rotate(100deg);
}
#leftstemflower5{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 225px;
	background: #bf6f4a;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 52%;
	margin-right: auto;
	transform: rotate(100deg);
}
#leftstemflower6{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 215px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 52%;
	margin-right: auto;
	transform: rotate(100deg);
}
#leftstemflower7{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 240px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 52%;
	margin-right: auto;
	transform: rotate(100deg);
}
#leftstemflower8{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 240px;
	background: #bf6f4a;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 56%;
	margin-right: auto;
	transform: rotate(100deg);
}
#leftstemflower9{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 250px;
	background: white;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100px / 100px;
	margin-left: 56%;
	margin-right: auto;
	transform: rotate(100deg);
}
#stemright{
	position: absolute;
	width: 5px;
	height: 275px;
	top: 135px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 70%;
	margin-right: auto;
	transform: rotate(30deg);
}
#redflower1{
	position: absolute;
	width: 30px;
	height: 33px;
	top: 180px;
	background: #dd4f27;
	-moz-border-radius: 100% / 55%;
	-webkit-border-radius: 100% / 55%;
	border-radius: 100% / 55%;
	margin-left: 74%;
	margin-right: auto;
	transform: rotate(-30deg);
}
#redflower2{
	position: absolute;
	width: 38px;
	height: 42px;
	top: 120px;
	background: #dd4f27;
	-moz-border-radius: 100% / 55%;
	-webkit-border-radius: 100% / 55%;
	border-radius: 100% / 55%;
	margin-left: 74%;
	margin-right: auto;
	transform: rotate(-10deg);
}
#redflower3{
	position: absolute;
	width: 38px;
	height: 38px;
	top: 120px;
	background: #dd4f27;
	-moz-border-radius: 100% / 75%;
	-webkit-border-radius: 100% / 75%;
	border-radius: 100% / 75%;
	margin-left: 78%;
	margin-right: auto;
	transform: rotate(75deg);
}
#redflower4{
	position: absolute;
	width: 28px;
	height: 28px;
	top: 160px;
	background: #dd4f27;
	-moz-border-radius: 100% / 75%;
	-webkit-border-radius: 100% / 75%;
	border-radius: 100% / 75%;
	margin-left: 78%;
	margin-right: auto;
	transform: rotate(75deg);
}
#redflowerleaf{
	position: absolute;
	width: 0;
	height: 0;
	top: 160px;
	margin-left: 74%;
	margin-right: auto;
	border-bottom: 40px solid #748280;
	border-left: 50px solid transparent;
	border-right: 40px solid transparent;
	transform: rotate(60deg);
}
#redflowerstem1{
	position: absolute;
	width: 2px;
	height: 70px;
	top: 140px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 73%;
	margin-right: auto;
	transform: rotate(20deg);
}
#redflowerstem2{
	position: absolute;
	width: 2px;
	height: 30px;
	top: 206px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 72.25%;
	margin-right: auto;
	transform: rotate(-20deg);
}
#redflowerstem3{
	position: absolute;
	width: 2px;
	height: 90px;
	top: 160px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 76%;
	margin-right: auto;
	transform: rotate(45deg);
}
#redflowerstem4{
	position: absolute;
	width: 2px;
	height: 90px;
	top: 160px;
	background: #748269;
	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 25px / 25px;
	margin-left: 73.75%;
	margin-right: auto;
	transform: rotate(20deg);
}
#redflowerleaf2{
	position: absolute;
	width: 0;
	height: 0;
	top: 250px;
	margin-left: 70%;
	margin-right: auto;
	border-bottom: 40px solid #748280;
	border-left: 50px solid transparent;
	border-right: 40px solid transparent;
	transform: rotate(10deg);
}
