body{
	padding: 20%;
}

img{

	width: 1200px;
}

.story{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 2000px;
	letter-spacing: 2px;
	line-height: 140%;
	
}
.norm{
	font-size: 50px;
	font-weight: 400;
	font-family: 'Work Sans', serif;
}
.norm2{
	font-size: 25px;
	font-weight: 400;
	font-family: 'Work Sans', serif;
}
.pull{
	font-size: 85px;
	font-weight: 400;
	font-family: 'Work Sans', serif;
}

